@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.home_hero_ai{
    /* border: 1px solid grey; */
    /* margin-bottom: 50px; */
    padding: 7px 17px;
    border-radius: 20px;
    border-top: 1.5px solid rgba(128, 128, 128, 0.313);
    border-right: 1px solid rgba(128, 128, 128, 0.146);
    border-left: 1px solid rgba(128, 128, 128, 0.146);
    border-bottom: 1px solid rgba(128, 128, 128, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: 100;
}
.home_hero_ai h3{
    font-weight: 200;
    color: #eaeaea;
    font-size: 16px;
  filter: blur( .5px);

}
.home_hero_ai_dot{
    background-color: #10a3158c;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulseGlow 2s infinite ease-in-out;

}
.home_hero_ai_dot_inside{
    background-color: #10a316;
    width: 7px;
    height: 7px;
    opacity: 1 !important;
    transform: scale(1) !important;
    border-radius: 50%;
}

@keyframes pulseGlow {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

.word_fade_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  margin: auto;
  font-size: 40px; 
  color: #91d203;
  position: relative;
  width: 100%; 
  height: 1.2em;
  vertical-align: bottom;
  font-weight: 600;
  
}

.fade_word {
  position: absolute;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
  font-size: 50px;
  text-transform: capitalize;
}

.fade_word.visible {
  opacity: 1;
  transform: translateY(0);
}




.home_main_div{
    height: 100%;
    color: white;
    /* background: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
      font-family: "Saira", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
}


.home_hero_header_h1{
  display: flex;
  align-items: center;
  justify-content: space-between ;
  font-size: 50px;
  width: 80%;
  margin: auto;
  font-weight: 500;
  flex-direction: column;
  /* margin-top: 40px; */
  line-height: 55px;
  filter: blur( .3px);
}


.home_hero_header_h3{
  font-size: 18px;
  color: rgb(213, 213, 213);
  margin-top: 20px;
  font-weight: 300;
  margin-bottom: 40px;
}
.home_hero_header_button{
  background-color: #7eb800;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 80px auto 0px auto;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  padding: 10px;
  line-height: 22px;
  text-shadow: 0 0 3px white;
  cursor: pointer;
}
.free_call{
  font-size: 17px;
}


.home_hero_header_h5{
  font-size: 15px;
  /* margin-top: 30px; */
  font-weight: 300;
  width: 50%;
  margin: 10px auto;
  color: rgb(213, 213, 213);
  width: 80%;
}
.home_hero_header_h5 span{
  font-weight: 700;
  text-transform: capitalize;
  filter: blur( .4px);

}


@media(max-width: 1530px){
  .home_main_div{
    padding-top: 40px;
  }
}
@media(max-width: 866px){
  .home_hero_header_h1{
    font-size: 35px;
  }
  .home_hero_ai h3{
    font-size: 13px;
  }
  .home_hero_header_h1 span{
    font-size: 40px;
  }
  .home_hero_header_h3{
    font-size: 13px;
  }
  
  .home_hero_header_button{
    font-size: 15px;

  }
  .home_hero_header_h5{
    font-size: 12px;
  }
}

@media(max-width:530px){
  .home_hero_header_h1{
    font-size: 28px;
    line-height: 35px;
  }
  .home_hero_header_h1 span{
    font-size: 25px;
    margin: 5px auto;
  }
  .home_hero_header_h3{
    width: 80%;
    margin: 10px auto 0px auto;
    font-size: 10px;
  }

  .home_hero_header_button{
    font-size: 13px;
    width: 70%;
    line-height: 20px;
  }
  .home_hero_header_h5{
    font-size: 10px;
  }
}